@charset "UTF-8";
th {
 background-color:#fcb424;
 }                            
 
 .pagination .page-item.active .page-link { background-color: #fcb424;
border-color:#fcb424;}
 
 div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
 background-color: #fcb424;

 }
 
 .pagination .page-item.active .page-link:hover {
 background-color: #fcb424;

 }
 
 .fa {
 font-size:25px;
 color:#fcb424;
 }
 
 h2 {
 
 margin: 10 0px 10 0px;
 
 }